
.cats-side
  background-image: url("/images/cat.jpg")
  background-position: 0px 0px
  background-size: 120% auto

.cat-comparison
  margin-top: 50px

.vs
  font-size 50px
  text-align center
  line-height 320px

.cat
  border-radius 5px
  width 100%
