

.main-block
  background: #EEEEEE
  border-radius: 5px
  height: (210)px
  background-size: auto 90%
  background-position: 0 100%
  background-repeat: no-repeat no-repeat
  cursor: pointer
  margin-top: 30px

  .lead
    font-size: 300%
    // color: 999
    // background: rgba(255,255,255,0.5)
    // background: #CFC
    // color #888
    // color #49A8E1
    background #A0D5F4
    width: 100%
    border-top-left-radius: 5px
    border-top-right-radius: 5px
    padding-left: 5px
    // border-bottom-right-radius: 1000000px

    .btn
      margin-top: 12px
      margin-right: 10px

.cats-block
  .lead
    // color #333
  //   background: rgba(255,255,255,0.9)
  background-image: url("/images/cat.jpg")

.audio-block
  .lead
    // background: white
    // color #888
    // margin-top: -10px
    // // width: 180px
    // border-bottom-right-radius: 1000000px
    // background: rgba(255,255,255,0.9)
  background-image: url("/images/turntable.jpg")
  background-size: 100% auto
  background-position: 0px -140px

.printers-block
  background-image: url("/images/printers.jpg")

  ul
    padding 0

  li
    font-size 200%
    color white
    list-style none
    text-align center
    background rgba(255,255,255,0.4)
    margin-bottom 20px

.transport-block
  background-image: url("/images/bus.jpg")
  background-size: 100% auto
  background-position: 0px 35px

.power-block
  background-image: url("/images/power.png")
  background-size: 110% auto
  background-position: 10% 100%

.news-block
  background-image: url("/images/news.jpg")
  background-size: 100% auto
