extends layout
block content

  .page-container.secondary-page
    .audio-side.side
    .side-overlay
    .container-fluid
      .row
        .col-md-offset-3.col-md-9.header
          h1
            a(href="/").pull-right BACK
            | AUDIO
      .row
        .col-md-offset-3.col-md-9
          h2 PLAY THAT FUNKY MUSIC
