extends layout
block content

  .page-container.secondary-page
    .feed-side.side
    .side-overlay
    .container-fluid
      .row
        .col-md-offset-3.col-md-9.header
          h1
            a(href="/").pull-right BACK
            | FEED
      .row
        .col-md-offset-3.col-md-9
          h2 404 NOBODY WILL EVER READ THIS
