extends layout
block content

  .page-container.secondary-page
    .printers-side.side
    .side-overlay
    .container-fluid
      .row
        .col-md-offset-3.col-md-9.header
          h1
            a(href="/").pull-right BACK
            | PRINTERS
      .row
        .col-md-offset-3.col-md-9
          h2 ULTIMAKER 1 // ONLINE
      .row
        .col-md-offset-3.col-md-9
          h2 ULTIMAKER 2 // ONLINE
